{% extends "profile/_layout.html" %}
{% load compress %}
{% load md2 %}

{% block title %}
Edit Announcement
{% endblock %}

{% block content %}
  <div class='page-content'>
    {% if announcement %}
      <h1>Edit Announcement</h1>
    {% else %}
      <h1>New Announcement</h1>
    {% endif %}
    <form method='POST' class='django-form'>
      {% csrf_token %}
      <div class='form-group'>
        <h3>Title:</h3>
        {{ form.title }}
      </div>
      <div class='form-group form-group-bordered'>
        <h3>Body:</h3>
        {{ form.text }}
      </div>
      <div class='form-group centered'>
        <input type='submit' class='btn btn-md btn-pink' value='Submit' />
      </div>
    </form>
  </div>
{% endblock %}
