{% extends "home/layouts/page.html" %}

{% block content %}
<div class="row" id="faq-container">
  <div class="medium-8 columns">
    <div id="q1">
      <h3>What is the meaning of life?</h3>
      <p>Unicorns</p>
    </div>

    <div id="q2">
      <h3>Why are unicorns better than geese?</h3>
      <p>Quisque lorem elit, posuere ac consequat ut, venenatis at ex. Integer congue, dolor nec egestas faucibus, quam elit euismod nibh, id feugiat est odio non libero. Pellentesque porta sapien lorem, at efficitur nunc blandit at. Praesent lectus nulla, faucibus in diam sed, facilisis hendrerit urna. Morbi elementum, felis sed consequat tempus, orci nulla lobortis lorem, quis pharetra ligula purus non ligula. Suspendisse tristique erat in sapien viverra, placerat placerat velit pellentesque. Integer vehicula tincidunt blandit. Nam consequat eros et nibh maximus condimentum. Nam quam nunc, sagittis vitae erat blandit, molestie eleifend neque. Curabitur libero massa, varius in vulputate eget, placerat at felis. Pellentesque varius mollis rutrum. Morbi vel massa egestas, finibus felis in, laoreet neque.</p>
    </div>

    <div id="q3">
      <h3>What should do when I'm attacked by geese?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at lacus quis ante rutrum porta ut in est. Nam nec libero sed ex volutpat cursus in sed eros. Phasellus vel turpis eget tellus maximus lobortis in sed eros. Vivamus et vestibulum risus. Nullam vulputate id lectus sed pharetra. Curabitur volutpat elit at nisi congue tristique. Vivamus non auctor dui.</p>
    </div>

  </div>

  <div class="medium-3 columns" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="faq-container" data-margin-top="6">
      <h4>Questions</h4>
      <ul>
        <li><a href="#q1" data-additional-offset="6em">What is the meaning of life?</a></li>
        <li><a href="#q2" data-additional-offset="6em">Why are unicorns better than geese?</a></li>
        <li><a href="#q3" data-additional-offset="6em">What should do when I'm attacked by geese?</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
