{% extends "home/layouts/page.html" %}

{% block content %}
<h3>Questions</h3>

<ul>
  <li><a href="#q1" data-additional-offset="8em">How can I become a part of the Math Orientation?</a></li>
  <li><a href="#q2" data-additional-offset="8em">I live off-campus, how do I get home after a night event?</a></li>
  <li><a href="#q3" data-additional-offset="8em">Do I have to wear my Orientation shirt all week?</a></li>
  <li><a href="#q4" data-additional-offset="8em">I'm lost, where do I go?</a></li>
  <li><a href="#q4" data-additional-offset="8em">Is attendance mandatory at all events?</a></li>
  <li><a href="#q6" data-additional-offset="8em">Can I bring alcohol to Orientation Week?</a></li>
</ul>

<hr>

<div id="q1">
  <h3>How can I become a part of the Math Orientation?</h3>
  <p>
      If you're an incoming first-year student or a transfer student, then
      you're already a part of the Math Orientation, you just have to confirm
      your attendance by registering! You can do that by following this link:
      <a href="https://leads.uwaterloo.ca/orientation" target="_blank">
        I'm ready!
      </a>
  </p>
</div>

<hr>

<div id="q2">
  <h3>I live off-campus, how do I get home after a night event?</h3>
  <p>
    There is a <a href="https://uwaterloo.ca/police/shuttle-service"> free taxi
    service</a> for Off-Campus students during evening events. Head to the Great
    Hall in the Student Life Centre (SLC) to catch a ride. After Orientation
    Week, the normal night shuttle will be running for you to take home in the
    evening (pickup is also at SLC).
  </p>
</div>

<hr>

<div id="q3">
  <h3>Do I have to wear my Orientation shirt all week?</h3>
  <p>
    It is expected that you wear your Orientation shirt to all your Math
    Orientation events (it also makes it easier for us to identify you)!
  </p>
</div>

<hr>

<div id="q4">
  <h3>I'm lost, where do I go?</h3>
  <p>You can ask for help from any of the following people:</p>
  <ul>
    <li>The <strong>Tie Guard tent</strong> in front of Mathematics 3 (M3)! That's the building with the giant pink tie on its side.</li>
    <li>Anyone at an <strong>"Ask Me" booth</strong> around campus. Each faculty runs their own "Ask Me" booth, most of which are 24/7.</li>
    <li>Anyone who is an orientation leader. They can be identified with a UW leader tag or with a red or yellow vest.</li>
    <li>The <strong><a href="https://uwaterloo.ca/police/">Campus Police</a></strong></li>
    <li>The <strong>Turnkey Desk</strong> in the Student Life Centre (SLC).</li>
  </ul>
</div>

<hr>

<div id="q5">
  <h3>Is attendance mandatory at all events?</h3>

  <p>
    While it is not mandatory to go to all events, we highly recommend that you
    do. Your participation in the events will help your team earn points towards
    winning the Math Orientation trophy. Better yet, the more you participate,
    the more opportunities you have to make new friends and get the most of your
    Orientation week.
  </p>

  <p>
    Remember, you only get one Orientation week!
  </p>
</div>

<hr>

<div id="q6">
  <h3>Can I bring alcohol to Orientation Week?</h3>
  <p>Unlike Waterloo, Orientation week is dry.</p>
</div>

{% endblock %}
