{% extends "home/layouts/page.html" %}

{% block content %}
<div class="row" id="faq-container">
  <div class="large-8 columns">
    <div id="q1">
      <h3>How can I become a part of the Math Orientation?</h3>
      <p>If you're an incoming first-year student or a transfer student, then you're already a part of the Math Orientation, you just have to confirm your attendance by registering! You can do that by following this link: <a href="https://leads.uwaterloo.ca/orientation" target="_blank">I'm ready!</a></p>
    </div>

    <div id="q2">
      <h3>I live off-campus, how do I get home after a night event?</h3>
      <p>There is a free taxi service for Off-Campus students during evening events. Head to the Great Hall in the SLC to catch a ride. After Orientation Week, the normal night shuttle will be running for you to take home in the evening (pickup is also at SLC).</p>
    </div>

    <div id="q3">
      <h3>Do I have to wear my Orientation shirt all week?</h3>
      <p>It is expected that you wear your Orientation shirt to all your Math Orientation events (it also makes it easier for us to identify you)!</p>
    </div>

    <div id="q4">
      <h3>I'm lost, where do I go?</h3>
      <p>You can ask for help from any of the following people:</p>
      <ul>
        <li>The Tie Guard tent in front of M3!</li>
        <li>Anyone at an "Ask Me" booth around campus. Each faculty runs their own "Ask Me" booth, most of which are 24/7.</li>
        <li>Anyone who is an orientation leader. They can be identified with a UW leader tag or with a red or yellow vest.</li>
        <li>The campus police</li>
        <li>The Turnkey Desk in the Student Life Centre (SLC).</li>
      </ul>
    </div>

    <div id="q5">
      <h3>Is attendance mandatory at all events?</h3>
      <p>While it is not mandatory to go to all events, we highly recommend that you do. Your participation in the events will help your team earn points towards winning the Math Orientation trophy. Better yet, the more you participate, the more opportunities you have to make new friends and get the most of your Orientation week. Remember, you only get one Orientation week!</p>
    </div>

    <div id="q6">
      <h3>Can I bring alcohol to Orientation Week?</h3>
      <p>Unlike Waterloo, Orientation week is dry.</p>
    </div>
  </div>

  <div class="large-3 columns" data-sticky-container>
    <div class="sticky" data-sticky data-sticky-on="large" data-anchor="faq-container" data-margin-top="6">
      <h4>Questions</h4>
      <ul>
        <li><a href="#q1" data-additional-offset="6em">How can I become a part of the Math Orientation?</a></li>
        <li><a href="#q2" data-additional-offset="6em">I live off-campus, how do I get home after a night event?</a></li>
        <li><a href="#q3" data-additional-offset="6em">Do I have to wear my Orientation shirt all week?</a></li>
        <li><a href="#q4" data-additional-offset="6em">I'm lost, where do I go?</a></li>
        <li><a href="#q4" data-additional-offset="6em">Is attendance mandatory at all events?</a></li>
        <li><a href="#q6" data-additional-offset="6em">Can I bring alcohol to Orientation Week?</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
