{% extends "home/layouts/default.html" %}

{% block content %}
<div class="row">
  <div id="home-announcements" class="medium-7 large-8 columns">
    <div class="blog-post">
      <h3 class="home-subheader">Latest News</h3>
      <div id="home-announcement-body">
        {% if latestnews %}
          {% include "home/includes/announcement.html" with announcement=latestnews %}
          <p class="text-center">
            <a href="{% url 'news' %}">View all latest news and announcements <i class="fa fa-arrow-right"></i></a>
          </p>
        {% else %}
          <div class="callout">
            <p class="text-center">No news to display at this time. Please check back later</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="home-social-feed" class="medium-5 large-4 columns">
    <h3 class="home-subheader">Social Media</h3>
    <div id="home-social-feed-bounding">
      <div class="social-feed-container"></div>
    </div>
  </div>
</div>

<div id="main-top" class="row">
  <div id="main-top-scroll-header" class="row medium-9 large-8 columns"></div>
</div>

<div id="main" class="row">
  <div id="main-content" class="medium-8 large-7 columns">
    <h2>Welcome to Math&nbsp;Orientation!</h2>
    <hr>
    <p class="lead">
      And if you're a new student, welcome to the Faculty of Mathematics!
      Waterloo's Faculty of Mathematics is the largest institution for Computer
      Science and Mathematics in all of Canada. Remember, university can be a lot
      of work, but it can also be a great deal of fun, and we're going to show you
      that right off the bat by giving you an amazing Orientation week!
    </p>

    <p class="lead">
      <a href="https://uwaterloo.ca/orientation/first-year-students" target="_blank">
        Register or find out more about Orientation Week
      </a>. You can register by hitting link in the right sidebar.
    </p>

    <p class="lead">
      <a href="https://uwaterloo.ca/orientation/first-year-students/schedule" target="_blank">
        View your Orientation Week schedule, enter your Faculty/Program and
        Residence information.
      </a>
    </p>
  </div>
</div>
{% endblock %}
