{% extends "home/layouts/page.html" %}

{% block content %}
<p>Some useful resources for you to use</p>
<div class="row small-up-1 medium-up-2 large-up-3">
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>UWaterloo Home Page</h5>
    <p>subtitle. Note: keep the length of each subtitle consistent</p>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
</div>
{% endblock %}
