{% extends "home/layouts/page.html" %}
{% load staticfiles %}

{% block content %}

<p>
  Here is a list of resources you may find useful. See a map of the University,
  get in contact with current Mathematics, Computer Science, and Software
  Engineering students, or just see what else is available.
</p>

<div class="row small-up-1 medium-up-2 large-up-3">
  <div class="column">
    <a href="">
      <img class="thumbnail" src="{% static 'home/img/resources/uwaterloo-home.png' %}">
    </a>
    <h5>UWaterloo Home Page</h5>
    <p>
      Everything about the University of Waterloo.
    </p>
  </div>
  <div class="column">
    <a href="https://uwaterloo.ca/math/about/legend-pink-tie">
      <img class="thumbnail" src="{% static 'home/img/resources/pink-tie.png' %}">
    </a>
    <h5>Legend of the Pink Tie</h5>
    <p>
      Learn about the history behind the Faculty of Mathematics mascot.
    </p>
  </div>
  <div class="column">
    <a href="http://uwaterloo.ca/map/pdf/map_colour.pdf">
      <img class="thumbnail" src="{% static 'home/img/resources/campus-map.png' %}">
    </a>
    <h5>University of Waterloo Map</h5>
    <p>
      Find your way around campus.
    </p>
  </div>
  <div class="column">
    <a href="https://uwaterloo.ca/student-portal/">
      <img class="thumbnail" src="{% static 'home/img/resources/student-portal.png' %}">
    </a>
    <h5>Student Portal</h5>
    <p>
      Manage your academic schedule, check bus times and food services hours,
     and more!
    </p>
  </div>
  <div class="column">
    <a href="http://mathsoc.uwaterloo.ca/">
      <img class="thumbnail" src="{% static 'home/img/resources/mathsoc.png' %}">
    </a>
    <h5>Mathematics Society (MathSOC)</h5>
    <p>
      Explore faculty events and clubs, the exam bank, and book lockers.
    </p>
  </div>
  <div class="column">
    <a href="http://www.feds.ca/">
      <img class="thumbnail" src="{% static 'home/img/resources/feds.png' %}">
    </a>
    <h5>Federation of Students (Feds)</h5>
    <p>
      Explore campus events, student-run services, volunteer opportunities, and
      more!
    </p>
  </div>
  <div class="column">
    <a href="https://uwaterloo.ca/disability-services/">
      <img class="thumbnail" src="{% static 'home/img/resources/accessability-services.png' %}">
    </a>
    <h5>AccessAbility Services</h5>
    <p>
      Learn about support for students with permanent or temporary disabilities.
    </p>
  </div>
  <div class="column">
    <a href="https://uwaterloo.ca/health-services/">
      <img class="thumbnail" src="{% static 'home/img/resources/health-services.png' %}">
    </a>
    <h5>Health Services</h5>
    <p>
      Find out more about the clinic and other medical services provided on campus.
    </p>
  </div>
  <div class="column">
    <a href="http://www.feds.ca/clubs-section/clubs-listing/">
      <img class="thumbnail" src="http://placehold.it/550x550">
    </a>
    <h5>Clubs Listing</h5>
    <p>
      Discover a wide variety of clubs across campus.
    </p>
  </div>
  <div class="column">
    <a href="https://uwaterloo.ca/counselling-services/">
      <img class="thumbnail" src="http://placehold.it/550x550">
    </a>
    <h5>Counselling Services</h5>
    <p>
      Learn more about the personal and interpersonal support and resources provided on campus.
    </p>
  </div>
  <div class="column">
    <a href="https://uwaterloo.ca/student-success/">
      <img class="thumbnail" src="{% static 'home/img/resources/student-success-office.png' %}">
    </a>
    <h5>Student Success Office</h5>
    <p>
      Find out more about academic support provided on campus.
    </p>
  </div>
</div>
{% endblock %}
