.title-bar {
  line-height: 2.5rem;
}

#navigation-container {
  z-index: 1;
}

#navigation-bar {
  background-color: $topbar-background;
  background-image: url("/assets/home/img/grey-texture.png");
  padding-left: 0;
  padding-right: 0;

  &:before, &:after {
    content: " ";
    display: none;
    width: 100%;
    height: 50px;
    background-image: url("/assets/home/img/grey-texture-diagonal.png");
    background-position: center top;
    background-size: 50px 50px;

    @media #{$medium-up} {
      display: block;
    }
  }

  &:before {
    margin-top: -2rem;
  }

  &:after {
    margin-bottom: -2rem;
  }
}

#navigation-bar-main {
  text-align: center;
  padding: 0;
  &, ul {
    background-color: transparent;
  }
}

#navigation-menu {
  display: inline-block;
  font-size: 1.2rem;

  @media #{$medium-up} {
    font-size: 1.1rem;
    @include menu-separators;
    li {
      &:after {
        line-height: 2.5rem;
      }
    }
  }

  @media #{$large-up} {
    font-size: 1.2rem;
    a {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
