#page-header {
  position: relative;
  height: 23rem;
  background-color: $primary-color;
  background: radial-gradient(ellipse at center, $primary-color 0%, darken($primary-color, 25%) 100%);
}

#page-header-bg-container,
#page-header-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#page-header-title {
  margin-bottom: 0;
  color: white;
  a, a:hover, a:active, a:visited {
    color: white;
    opacity: 0.75;
  }

  @media #{$medium-up} {
    h1, h2 {
      text-align: left;
    }
  }
}

#page-logo-container,
#page-header-title {
  @media #{$medium-up} {
    position: relative;
    height: 100%;
  }
}

#page-header-title-content {
  @media #{$medium-up} {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

#page-header-title {
  @media #{$medium-up} {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media #{$large-up} {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

#page-subtitle {
  @media #{$medium-up} {
    font-size: 2rem;
  }
}

#page-logo-link {
  display: block;
  width: 100%;
  max-width: 256px;
  max-height: 256px;
  margin: 1rem auto;
  @media #{$medium-up} {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
#default-header-title {
  font-family: "TrajanPro3-Regular", "Georgia", "Times New Roman", times, serif;
}
