#about-hierarchy, #about-teams {
    text-align: center;
    p {
        text-align: left;
    }
}

.about-hierarchy-image {
    @media #{$medium-up} {
        width: 12rem;
        height: 12rem;
    }
    @media #{$large-up} {
        width: 15rem;
        height: 15rem;
    }
}
