#page-header {
  margin-bottom: 0;
}

#page-subtitle {
  font-size: 2rem;
}

#default-header-title {
  font-family: "TrajanPro3-Regular", "Georgia", "Times New Roman", times, serif;
}

#faq-container div > ul {
  margin-left: 2.5rem; /* an additional indentation level */
}
