{% load staticfiles %}

<header id="page-header">
  <div id="page-header-bg-container" class="low-poly"></div>
  <div id="page-header-content" class="row medium-12 large-9 columns" class="callout primary">
    <div id="page-logo-container" class="medium-4 columns">
      <img id="page-logo" class="logo" src="{% static 'home/img/logo.svg' %}" alt="Mathemagical Kingdoms">
    </div>
    <div id="page-header-title" class="medium-8 columns">
      <div id="page-header-title-content">
        <h1 id="page-title">{{ page.title }}</h2>
        <h2 id="page-subtitle" class="subheader"><a href="/" title="Home">Math Orientation 2016</a></h2>
      </div>
    </div>
  </div>
</header>
